{% extends 'base.html.twig' %}

{% block title %}+ Utilisateur{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1 class="text-center">Modifier utilisateur</h1>
	<div class="container d-flex justify-content-center">
		{{ form_start(editForm) }}
			<div class="row">
				<div class="col-md-6">
					{{ form_row(editForm.name) }}
				</div>
				<div class="col-md-6">
					{{ form_row(editForm.username) }}
				</div>
			</div>
			{{ form_row(editForm.plainPassword, {
				label: 'Mot de Passe:'
			}) }}
			{{ form_row(editForm.roles) }}
      <input type="submit" value="Ajouter utilisateur" class="btn btn-primary btn-block" formnovalidate>
		{{ form_end(editForm) }}
	</div>
{% endblock %}
