{% extends 'base.html.twig' %}

{% block title %} Liste des utilisateurs {% endblock %}

{% block body %}
	{% for type, messages in app.flashes %}
		{% for message in messages %}
				<div class="alert alert-{{ type }} text-center">
						{{message | raw}}
				</div>
		{% endfor %}
	{% endfor %}
	<div class="row mb-5">
			<div class="col-sm-10 col-12">
					<h3 id="quote">Liste des utilisateurs</h3>
			</div>
			<div class="col-sm-2 col-12">
					<a class="btn btn-primary pull-right" href=" {{path("app_register")}} "><i class="fas fa-user-plus"></i></a>
			</div>
	</div>
	<table class="table table-striped table-sm table-condensed text-center">
		<thead>
			<tr>
				<th scope="col">Nom et Prénom</th>
				<th scope="col">Login</th>
				<th scope="col">Type</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<th scope="row">{{user.name}} </th>
					<td>{{user.username}} </td>
          <td> 
            {% for role in user.roles %}
              {{roleTranslater(role) | raw}}
            {% endfor %}
          </td>
					<td>
						<a class="btn btn-warning btn-sm" href="{{path("app_users_edit", {id: user.id})}}"><i class="fas fa-edit text-white"></i></a>
						<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
							<i class="fas fa-trash-alt"></i>
						</button>
						{% include 'inc/_delete_modal.html.twig'  with {'name' : 'user', 'variable' : user} only %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
