{% extends 'base.html.twig' %}

{% block title %} Stagiaire Index {% endblock %}

{% block body %}
	{% for type, messages in app.flashes %}
		{% for message in messages %}
				<div class="alert alert-{{ type }} text-center">
						{{message | raw}}
				</div>
		{% endfor %}
	{% endfor %}
	<h1 class="display-6 text-center mb-5">Liste des stagiaires</h1>
		
			<button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#searchFormModal">
				Filter <i class="fas fa-filter"></i>
			</button>
			{% include 'inc/_search_form_modal.html.twig'  with {'searchForm' : searchForm} only %}

	<div class="container">
	<span class="badge badge-info">
		{{ stagiaires | length}} Stagiaires
	</span>
	<span class="badge badge-info">
		A partir de : {{query.start | date('d-M-Y')}}
	</span>
	<span class="badge badge-info">
		Jusqu'a : {{query.end | date('d-M-Y')}}
	</span>
	<span class="badge badge-info">
		{# {{query.agent | default('Tous les agents')}} #}
		Agent : {{ agentsNamesadnIDs[query.agent] }}
	</span>
	</div>

	<table class="table table-striped table-sm table-condensed text-center">
		<thead>
			<tr>
				<th scope="col">---</th>
				<th scope="col">Prénom</th>
				<th scope="col">Nom</th>
				<th scope="col">N° Dossier</th>
				<th scope="col">Date de Naissance</th>
				<th scope="col">N° Mobile</th>
				<th scope="col">N° fixe</th>
				<th scope="col">Ajouter le</th>
				<th scope="col">Agent</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for stagiaire in stagiaires %}
				<tr>
					<th scope="row">{{stagiaire.situation}} </th>
					<td>{{stagiaire.prenom}} </td>
					<td>{{stagiaire.nomFamille}} </td>
					<td>{{stagiaire.nDossier}} </td>
					<td>{{stagiaire.birthday | date('d-m-Y')}} </td>
					<td>{{stagiaire.mobile}} </td>
					<td>{{stagiaire.fixe}} </td>
					<td>{{stagiaire.createdAt | date('d-m-Y')}} À {{stagiaire.createdAt | date('H:i')}} </td>
					<td>{{stagiaire.user.name}}</td>
					<td>
						<div>
							<a class="btn btn-primary btn-sm" href="{{path("app_stagiaires_show", {id: stagiaire.id})}}"><i class="fas fa-eye"></i></a>
							{% if is_granted('ROLE_ADMIN') %}
								<a class="btn btn-warning btn-sm" href="{{path("app_stagiaires_edit", {id: stagiaire.id})}}"><i class="fas fa-edit text-white"></i></a>
								<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
									<i class="fas fa-trash-alt"></i>
								</button>
								{% include 'inc/_delete_modal.html.twig'  with {'name' : 'stagiaire', 'variable' : stagiaire} only %}
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
