{% extends 'base.html.twig' %}

{% block title %} Infos du Stagiaire {% endblock %}

{% block body %}
  <h2 class="text-center mb-5">
    <span class="badge badge-secondary">Les infos du stagiaire:</span>
  </h2>
  <div class="card text-center shadow-lg">
    <div class="card-header">
      Crée Le: {{stagiaire.createdAt | date('d-m-Y H:i')}} | par: {{stagiaire.user.name | title}}
    </div>
    <div class="card-body">
      <h5 class="card-title display-4">{{stagiaire.situation}} {{stagiaire.prenom}} {{stagiaire.nomFamille}}</h5>
      <div class="container text-center card-text">
        <div class="row">
          <div class="col-md-3 border rounded shadow-sm">
            <strong><i class="fas fa-id-badge"></i> Nom de Naissance :</strong><br>
            {{stagiaire.nomNaissance}}
          </div>
          <div class="col-md-3 border rounded shadow-sm">
            <strong><i class="fas fa-at"></i> Email :</strong><br>
            {{stagiaire.email}}
          </div>
          <div class="col-md-3 border rounded shadow-sm">
            <strong><i class="fas fa-phone"></i> N° Fixe :</strong><br>
            {{stagiaire.fixe}}
          </div>
          <div class="col-md-3 border rounded shadow-sm">
            <strong><i class="fas fa-mobile-alt"></i> N° Mobile :</strong><br>
            {{stagiaire.mobile}}</div>
        </div>
        <div class="row">
          <div class="col-md-8 border rounded">
            <strong><i class="fas fa-map-marked-alt"></i> Addresse :</strong><br>
            {{stagiaire.adresse}}
          </div>
          <div class="col-md-4 border rounded">
            <strong><i class="fas fa-birthday-cake"></i> Date de Naissance :</strong><br>
            {{stagiaire.birthday | date('d-m-Y')}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 border rounded"> 
            <strong><i class="fas fa-barcode"></i> N°Dossier:</strong><br>
            {{stagiaire.nDossier}} 
          </div>
          <div class="col-md-4 border rounded">
            <strong><i class="fas fa-barcode"></i> N° Securité Sociale :</strong><br>
            {{stagiaire.sociale}}
          </div>
          <div class="col-md-4 border rounded">
            <strong><i class="fas fa-user-md"></i> Emploi :</strong><br>
            {{stagiaire.emploi}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 border rounded">
            <strong><i class="fas fa-certificate"></i> Diplome :</strong><br>
            {{stagiaire.diplome}}
          </div>
          <div class="col-md-3 border rounded">
            <strong><i class="fas fa-clock"></i> Temps libre :</strong><br>
            {{stagiaire.tempslibre}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 border rounded">
          <strong><i class="fas fa-school"></i> Formation :</strong><br>
          {{stagiaire.formation}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 border rounded">
            <strong><i class="fas fa-comments"></i> Commentaire :</strong><br>
            {{stagiaire.comment}}
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-warning btn-sm" href="{{path("app_stagiaires_edit", {id: stagiaire.id})}}"><i class="fas fa-edit text-white"></i></a>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-trash-alt"></i>
        </button>
        {% include 'inc/_delete_modal.html.twig'  with {'name' : 'stagiaire', 'variable' : stagiaire} only %}
      {% endif %}
    </div>
</div>
{% endblock %}
