<nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-5">
  <div class="container">
    <a class="navbar-brand" href="{{path('app_login')}}">Formalive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav ml-auto">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_stagiaires_create')}} "><i class="fas fa-plus-circle"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_stagiaires_index')}}"><i class="fas fa-th-list"></i></a>
          </li>
          {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <a class="nav-link" href="{{path('app_users_index')}}"> <i class="fas fa-users"></i></a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_logout')}}">| <i class="fas fa-power-off"></i></a>
          </li>
        {% endif %}
      </ul>
  </div>
</nav>